/* Global */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    color: #2B2B2B;
}

/* desktop background */
@media (min-width: 701px){
    body {
        background: url("../images/page_background.jpg") center/cover no-repeat fixed;
    }
}

header {
    background: #0A437C;
    margin: 0;
    padding: 0;
}

.content-box, .page-content {
    background: white;
    max-width: 900px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 2rem;
}

main {
    min-height: calc(100vh - 120px);
}

.logo {
    width: 80px;
    filter: drop-shadow(0 4px 8px rgba(0,0,0,0.3));
    background: red;
}

/* Nav Bar */
.nav-container {
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;     
    padding: 0 1.5rem; 
    position: relative;
}

.nav-title {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.nav-links {
    display: flex;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links li + li::before {
    content: "|";
    color: white;
    margin: 0 0.6rem;
    font-weight: normal;
}

/* Burger Menu */
.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 22px;
    background: none;
    border: none;
    cursor: pointer;
}

.burger span {
    display: block;
    height: 4px;
    background: white;
    border-radius: 3px;
    transition: 0.3s;
}

/* Animation to x */
.burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.burger.active span:nth-child(2) {
    opacity: 0;
}
.burger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 3rem 1rem;
}

.btn {
    background: #F28B30;
    color: white;
    padding: 0.7rem 1.2rem;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0,0,0,0.25);
    transition: 0.1s;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 3rem auto;
    max-width: 600px;
    width: 100%;
    padding: 0 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea {
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
    font-size: 1rem;
    background: #f0f0f0;
}

.contact-form textarea {
    height: 150px;
    resize: vertical;
}

.contact-form button {
    padding: 0.7rem 2rem;
    width: auto;
    margin: 0 auto;
    display: block;
}

/* footer */
footer {
    background: #0A437C;
    color: white;
    text-align: center;
    padding: 0.1rem;
}

/* mobile */
@media (max-width: 700px) {

    .nav-title {
        display: none;
    }

    .nav-links {
        position: absolute;
        top: 100%; /* ALWAYS directly under navbar */
        left: 0;
        width: 100%;
        background: #0A437C;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        display: none;
        z-index: 999;
    }

    .nav-links li + li::before {
        display: none;
    }

    /* SHOW BURGER */
    .burger {
        display: flex;
    }

    main {
        background: none;  
    }


    .content-box, .page-content {
        margin-top: 90px; 
        padding-top: 1.5rem;
    }


}